/*
 * This is the source code of Starwise for Android v. 10.x.x.
 * It is licensed under GNU GPL v. 2 or later.
 * You should have received a copy of the license in this archive (see LICENSE).
 *
 * Copyright Gleb Obitocjkiy, 2026.
 */

package org.gua.imper

object ImpExtra {
    // https://aistudio.google.com/api-keys
    const val API_GEMINI = "You_API_Gemini"

    // sber ai
    const val API_GIGACHAT = "You_API_GIGACHAT"

}
